# ignore .vscode files
.vscode/

# ignore module files
*.mod*

# ignore .dat files
*.dat

# ignore build
builds/*
build-cmake/*

# ignore input
inputfiles/*

# ignore compiler files
*.o

# ignore editor backup files
*~

# ignore pycache folders
scripts/__pycache__/*
scripts/python_source/__pycache__/*

# ignore output files
*.out
executables/*

# ignore run directory
Runs/*
runs/*

# any local files, directories,...
*.local
*.local.*
*.local/
local_4
local_5
